<div class="modal" id="mimodal" >
    <div class="modal-dialog ">
        <div class="modal-content">
             <div class="modal-header" >
                 <div class="carrito">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                <div class="tituloinfopago">
                                    <h3>Información del pago</h3>
                                </div>
                                <div class="infopago">
                                    <p class="subtituloinfopago">Código de descuento</p>
                                    <div class="containercodedescuento">
                                        <button class="btnconfirmarcodedescuento">Confirmar</button>
                                        <input class="inputcodedescuento" type="text" placeholder="Introduce el código">
                                    </div>
                                    <hr class="lineaproductosuno"> <!-- linea se separacion -->
                                    <div class="containergastos precioproductos">
                                       
                                        <p><strong>$600</strong></p>
                                        <p>precio</p>
                                        
                                    </div>
                                    <div class="containergastos">
                                        <p><strong>$150</strong></p>
                                        <p>Envio</p>
                                    </div>
                                    <hr class="lineaproductosuno">  <!-- linea se separacion -->
                                    <div class="containergastos">
                                        <p><strong>$750</strong></p>
                                        <p>Total</p>
                                    </div>
                                    <div class="containerconfirmarpago">
                                        <i class="bi bi-check-circle-fill iconcheck"></i>
                                        <p>Pago al recibir</p>
                                    </div>
                                    <button class="btnconfirmarpedido">Confirmar pedido</button>
                                </div>
                 </div>
                 <div>
                                <div class="productoscarrito">
                                    <p class="eliminarproductos">Eliminar todo</p>
                                    <div class="containernumerodepedidos">
                                        <p class="numerodepedidos">(2)</p> 
                                        <h3>Numero de pedidos</h3>     
                                    </div>
                                </div>
                                <div class="containerproductoscarrito">
                                    <div class="containerproductocarrito">
                                        <div>
                                            <i class="bi bi-trash-fill iconeliminarproducto"></i>                           
                                            <div>
                                                <!-- traer info del producto -->
                                                <p class="nombreproducto">Pepsi 2.25 Lts</p> 
                                                <div class="containercantproducto">
                                                    <!-- agregar contador -->
                                                    <button class="btnmenosproductos">-</button>
                                                    <p>2</p>
                                                    <button class="btnmasproductos">+</button>
                                                    <p>Cantidad</p>
                                                </div>
                                                <div class="infoproducto">
                                                    <div class="preciodesc">
                                                        <p class="precioporcantproducto">$1200</p>
                                                        <p class="preciocondesc">$900</p>
                                                    </div>
                                                    <!-- traer precio producto -->
                                                    <p>Precio/u $600</p> 
                                                </div>
                                            </div>
                                        </div>           
                                        <img class="imgproducto" src="./images/pepsi.png" alt="">
                                    </div>
                                    <hr class="lineaproductosdos"> <!-- linea se separacion -->
                                    <div class="containerproductocarrito">
                                        <div>
                                            <i class="bi bi-trash-fill iconeliminarproducto"></i>                           
                                            <div>
                                                <p class="nombreproducto">Pepsi 2.25 Lts</p> 
                                                <div class="containercantproducto">
                                                    <button class="btnmenosproductos">-</button>
                                                    <p>2</p>
                                                    <button class="btnmasproductos">+</button>
                                                    <p>Cantidad</p>
                                                </div>
                                                <div class="infoproducto">
                                                    <p class="preciosindesc">$1200</p>                                
                                                    <p>Precio/u $600</p>
                                                </div>
                                            </div>
                                        </div>           
                                        <img class="imgproducto" src="./images/pepsi.png" alt="">
                                    </div>
                                </div>
                 </div>
             </div>
        </div>
      </div>
</div>