<div class="others">
    <div class="other-cards">
        <div class="other-card">
            <img src="./images/detergente.jpg" alt="">
            <p class="other-title">Detergente Arm & Hammer</p>
            <p>Caja de 4 kg. con 12 unidades c/u.</p>
            <p class="price">$400</p>
            <div class="other-card-flex">
                <div class="product-counter other-product-counter">
                    <button class="counter-button other-counter-button" id="minusButton">-</button>
                    <p><span id="counterNumber"></span></p>
                    <button class="counter-button other-counter-button" id="plusButton">+</button>
                </div>
                <p><b>Añadir cantidad</b></p>
            </div>
            <button class="add-to-cart-btn other-add-to-cart-btn">Añadir al carrito</button>
        </div>
        <div class="other-card">
            <img src="./images/detergente.jpg" alt="">
            <p class="other-title">Detergente Arm & Hammer</p>
            <p>Caja de 4 kg. con 12 unidades c/u.</p>
            <p class="price">$400</p>
            <div class="other-card-flex">
                <div class="product-counter other-product-counter">
                    <button class="counter-button other-counter-button">-</button>
                    <p>2</p>
                    <button class="counter-button other-counter-button">+</button>
                </div>
                <p><b>Añadir cantidad</b></p>
            </div>
            <button class="add-to-cart-btn other-add-to-cart-btn">Añadir al carrito</button>
        </div>
        <div class="other-card">
            <img src="./images/detergente.jpg" alt="">
            <p class="other-title">Detergente Arm & Hammer</p>
            <p>Caja de 4 kg. con 12 unidades c/u.</p>
            <p class="price">$400</p>
            <div class="other-card-flex">
                <div class="product-counter other-product-counter">
                    <button class="counter-button other-counter-button">-</button>
                    <p>2</p>
                    <button class="counter-button other-counter-button">+</button>
                </div>
                <p><b>Añadir cantidad</b></p>
            </div>
            <button class="add-to-cart-btn other-add-to-cart-btn">Añadir al carrito</button>
        </div>
        <div class="other-card">
            <img src="./images/detergente.jpg" alt="">
            <p class="other-title">Detergente Arm & Hammer</p>
            <p>Caja de 4 kg. con 12 unidades c/u.</p>
            <p class="price">$400</p>
            <div class="other-card-flex">
                <div class="product-counter other-product-counter">
                    <button class="counter-button other-counter-button">-</button>
                    <p>2</p>
                    <button class="counter-button other-counter-button">+</button>
                </div>
                <p><b>Añadir cantidad</b></p>
            </div>
            <button class="add-to-cart-btn other-add-to-cart-btn">Añadir al carrito</button>
        </div>
        <div class="other-card">
            <img src="./images/detergente.jpg" alt="">
            <p class="other-title">Detergente Arm & Hammer</p>
            <p>Caja de 4 kg. con 12 unidades c/u.</p>
            <p class="price">$400</p>
            <div class="other-card-flex">
                <div class="product-counter other-product-counter">
                    <button class="counter-button other-counter-button">-</button>
                    <p>2</p>
                    <button class="counter-button other-counter-button">+</button>
                </div>
                <p><b>Añadir cantidad</b></p>
            </div>
            <button class="add-to-cart-btn other-add-to-cart-btn">Añadir al carrito</button>
        </div>
        <div class="other-card">
            <img src="./images/detergente.jpg" alt="">
            <p class="other-title">Detergente Arm & Hammer</p>
            <p>Caja de 4 kg. con 12 unidades c/u.</p>
            <p class="price">$400</p>
            <div class="other-card-flex">
                <div class="product-counter other-product-counter">
                    <button class="counter-button other-counter-button">-</button>
                    <p>2</p>
                    <button class="counter-button other-counter-button">+</button>
                </div>
                <p><b>Añadir cantidad</b></p>
            </div>
            <button class="add-to-cart-btn other-add-to-cart-btn">Añadir al carrito</button>
        </div>
        <div class="other-card">
            <img src="./images/detergente.jpg" alt="">
            <p class="other-title">Detergente Arm & Hammer</p>
            <p>Caja de 4 kg. con 12 unidades c/u.</p>
            <p class="price">$400</p>
            <div class="other-card-flex">
                <div class="product-counter other-product-counter">
                    <button class="counter-button other-counter-button">-</button>
                    <p>2</p>
                    <button class="counter-button other-counter-button">+</button>
                </div>
                <p><b>Añadir cantidad</b></p>
            </div>
            <button class="add-to-cart-btn other-add-to-cart-btn">Añadir al carrito</button>
        </div>
        <div class="other-card">
            <img src="./images/detergente.jpg" alt="">
            <p class="other-title">Detergente Arm & Hammer</p>
            <p>Caja de 4 kg. con 12 unidades c/u.</p>
            <p class="price">$400</p>
            <div class="other-card-flex">
                <div class="product-counter other-product-counter">
                    <button class="counter-button other-counter-button">-</button>
                    <p>2</p>
                    <button class="counter-button other-counter-button">+</button>
                </div>
                <p><b>Añadir cantidad</b></p>
            </div>
            <button class="add-to-cart-btn other-add-to-cart-btn">Añadir al carrito</button>
        </div>
        <div class="other-card">
            <img src="./images/detergente.jpg" alt="">
            <p class="other-title">Detergente Arm & Hammer</p>
            <p>Caja de 4 kg. con 12 unidades c/u.</p>
            <p class="price">$400</p>
            <div class="other-card-flex">
                <div class="product-counter other-product-counter">
                    <button class="counter-button other-counter-button">-</button>
                    <p>2</p>
                    <button class="counter-button other-counter-button">+</button>
                </div>
                <p><b>Añadir cantidad</b></p>
            </div>
            <button class="add-to-cart-btn other-add-to-cart-btn">Añadir al carrito</button>
        </div>
        <div class="other-card">
            <img src="./images/detergente.jpg" alt="">
            <p class="other-title">Detergente Arm & Hammer</p>
            <p>Caja de 4 kg. con 12 unidades c/u.</p>
            <p class="price">$400</p>
            <div class="other-card-flex">
                <div class="product-counter other-product-counter">
                    <button class="counter-button other-counter-button">-</button>
                    <p>2</p>
                    <button class="counter-button other-counter-button">+</button>
                </div>
                <p><b>Añadir cantidad</b></p>
            </div>
            <button class="add-to-cart-btn other-add-to-cart-btn">Añadir al carrito</button>
        </div>
        <div class="other-card">
            <img src="./images/detergente.jpg" alt="">
            <p class="other-title">Detergente Arm & Hammer</p>
            <p>Caja de 4 kg. con 12 unidades c/u.</p>
            <p class="price">$400</p>
            <div class="other-card-flex">
                <div class="product-counter other-product-counter">
                    <button class="counter-button other-counter-button">-</button>
                    <p>2</p>
                    <button class="counter-button other-counter-button">+</button>
                </div>
                <p><b>Añadir cantidad</b></p>
            </div>
            <button class="add-to-cart-btn other-add-to-cart-btn">Añadir al carrito</button>
        </div>
        <div class="other-card">
            <img src="./images/detergente.jpg" alt="">
            <p class="other-title">Detergente Arm & Hammer</p>
            <p>Caja de 4 kg. con 12 unidades c/u.</p>
            <p class="price">$400</p>
            <div class="other-card-flex">
                <div class="product-counter other-product-counter">
                    <button class="counter-button other-counter-button">-</button>
                    <p>2</p>
                    <button class="counter-button other-counter-button">+</button>
                </div>
                <p><b>Añadir cantidad</b></p>
            </div>
            <button class="add-to-cart-btn other-add-to-cart-btn">Añadir al carrito</button>
        </div>
    </div>
</div>
<div class="page-button">
    <% for(let i = 1; i<=5; i++){ %>
        <a style="text-decoration:none;color:black" class="counter-button" href="/home?page=<%= i %>"><%= i %></a>
    <% } %>
</div>
<script src="/counter.js"></script>