<%- include("partials/head") -%>
<%- include("partials/header") -%>
<%- include("partials/carrito") -%>

    <!-- ----------------------------imagen contactenos---------------------------- -->
    <div class="headercontactenos">
        <p class="textoconectate">Conéctate con Nosotros</p>
    </div>
    <!-- --------------------seccion contactenos en nuestro sitio web------------------------- -->
    <section class="contactositioweb">
        <h2 class="titulocontactossitioweb">Contáctenos en nuestro sitio web</h2>
        <div class="ubicacioneinfo">
            <div class="infocontacto">
                <h3 class="tituloinfocontacto">Información del contacto</h3>
                <p class="textoinfocontacto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil in neque laboriosam voluptate iste ducimus quam sapiente voluptatum dolores </p>
                <div class="contenedorinfocontacto">
                    <p class="titulotel">Teléfono</p>
                    <div>
                        <p><strong>(308)555-0121</strong></p>
                        <p><strong>(308)555-0121</strong></p>
                    </div>  
                </div>
                <div class="contenedorinfocontacto">
                    <p class="tituloemail">Email</p>
                    <div>
                        <p><strong>info20@gmail.com</strong></p>
                        <p><strong>info20@gmail.com</strong></p> 
                    </div>   
                </div>
                <div class="contenedorinfocontacto">
                    <p class="titulodire">Dirección</p>
                    <div>
                       <p><strong>Argentina, Av. Warnes 2707</strong></p> 
                       <p><strong>C1427 CABA</strong></p>
                    </div>
                </div>    
            </div>
            <div class="mapaubicacion">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52549.25894892429!2d-58.54501605033875!3d-34.59584924027553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb61afb78c72f%3A0xee2bf1d59ab270cc!2sCarrefour!5e0!3m2!1ses-419!2sar!4v1696006882528!5m2!1ses-419!2sar" width="460" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div> 

        </div>
           
    </section>
    <!-- ----------------------------seccion contactanos---------------------------- -->
    <section class="contactame">
        <h1 class="titulocontacto">Contactanos</h1>
        <form class="formcontacto">
            <label for="">Nombre</label>
            <input class="inputscontacto" type="text" placeholder="Nombre">
            <label for="">Email</label>
            <input class="inputscontacto" type="text" placeholder="Email">
            <label for="">Asunto</label>
            <input class="inputscontacto" type="text" placeholder="Asunto">
            <label for="">Mensaje</label>
            <input class="inputscontacto inputmensaje" type="text" placeholder="Mensaje"> 
            <div class="contenedorbtn">
            <button class="btncontacto">Enviar Mensaje</button>
            </div>
        </form>
    
    </section>

    <%- include("partials/footer") -%>