<%- include("partials/head") -%>
<%- include("partials/header") -%>
<section class="container d-block"  style="margin-top: 180px;">
    <div>
          
        <img  src="/images/info.jpg" alt="">
        
    </div>

    <div class="container" style="margin: 2em;">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos blanditiis voluptates vero! Accusantium dicta sapiente esse necessitatibus illum! Earum corrupti alias dolores nulla consequuntur suscipit, quod eos fuga culpa esse? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium aspernatur ipsam illo consectetur suscipit voluptatum a magnam commodi eius voluptas ab, repudiandae culpa cum alias, eos non quas perspiciatis quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero deleniti delectus vero reprehenderit aperiam natus quos ipsum quas officiis? Porro reprehenderit dolores est inventore rem recusandae, placeat necessitatibus harum et?</p>
    </div>
    <div class="container d-flex align-items-center" style="margin: 5em;">
        <div class="container">
            <p >Sabemos que querés las cosas simples. Si hay algo que por alguna razón querés delvolver, tenés 90 días para poder hacerlo en cualquier Hiper, Market, Express o Maxi que te quede más cómodo.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate magni cum distinctio fugiat recusandae explicabo hic impedit a magnam, nesciunt vero voluptatibus sint illum! Minus nihil quaerat laudantium atque placeat!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eos, adipisci maiores iste repellat tempora illum atque repudiandae, dignissimos voluptatum quos incidunt iure. Sit, minima quod voluptatum consectetur sed dicta.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eos, adipisci maiores iste repellat tempora illum atque repudiandae, dignissimos voluptatum quos incidunt iure. Sit, minima quod voluptatum consectetur sed dicta.</p>
        </div>
        <img style=" width:30em;"src="https://images.unsplash.com/photo-1542744095-fcf48d80b0fd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1476&q=80" alt="">
    </div>
    <div class="container d-flex  align-items-center" style="margin: 5em; padding: auto;">
        <div class="container ">
            <p >Reducimos los precios de los productos próximos a vencer porque es mejor consumirlos que desecharlos.
            Es parte de nuestro compromiso contra el desperdicio de alimentos. 
        Nos esforzamos para que no haya ningún error en tu ticket.
            Pero si alguna vez, involuntariamente, te cobramos productos de más, te devolvemos el dinero de los productos mal cobrados y te regalamos el producto que compraste.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident alias itaque sequi praesentium laboriosam ipsam ab ad magnam, a facilis in molestiae. Non nobis tenetur necessitatibus consectetur corporis commodi est.</p>
        </div>
        <img style=" width: 30em;" src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80" alt="">
    </div>
</section>


<%- include("partials/footer") -%>