<%- include("partials/head") %>

<div>
    <a href="/secciones?coleccion=almacen"><img style="width:100%; margin:0.2em 0;" src="./images/almacen.webp" alt=""></a>
    <a href="/secciones?coleccion=bazar"><img style="width:100%; margin:0.5em 0;" src="./images/bazar.webp" alt=""></a>
    <a href="/secciones?coleccion=bebes"><img style="width:100%; margin:0.5em 0;" src="./images/bebes.webp" alt=""></a>
    <a href="/secciones?coleccion=bebidas"><img style="width:100%; margin:0.5em 0;" src="./images/bebidas.webp" alt=""></a>
    <a href="/secciones?coleccion=carnes"><img style="width:100%; margin:0.5em 0;" src="./images/carnes.webp" alt=""></a>
    <a href="/secciones?coleccion=conbelados"><img style="width:100%; margin:0.5em 0;" src="./images/congelados.webp" alt=""></a>
    <a href="/secciones?coleccion=desayunos"><img style="width:100%; margin:0.5em 0;" src="./images/desayunos.webp" alt=""></a>
    <a href="/secciones?coleccion=frutas"><img style="width:100%; margin:0.5em 0;" src="./images/frutas.webp" alt=""></a>
    <a href="/secciones?coleccion=lacteos"><img style="width:100%; margin:0.5em 0;" src="./images/lacteos.webp" alt=""></a>
    <a href="/secciones?coleccion=limpieza"><img style="width:100%; margin:0.5em 0;" src="./images/limpieza.webp" alt=""></a>
    <a href="/secciones?coleccion=mascotas"><img style="width:100%; margin:0.5em 0;" src="./images/mascotas.webp" alt=""></a>
    <a href="/secciones?coleccion=panaderia"><img style="width:100%; margin:0.5em 0;" src="./images/panaderia.webp" alt=""></a>
    <a href="/secciones?coleccion=perfumeria"><img style="width:100%; margin:0.5em 0;" src="./images/perfumeria.webp" alt=""></a>
</div>