<%- include("partials/head") -%>
<%- include("partials/header") -%>
<body>
    <div class="account">
        <div class="my-account">
            <img src="images/blank_user.png" alt="">
            <h2>Juan Giménez</h2>
            <a href="#" class="orange-href">Mi perfil</a>
            <a href="#" class="orange-href">Mi perfil</a>
        </div>
        <div class="info">
            <h2>Mi cuenta personal</h2>
            <div class="account-edit">
                <label for="">Nombre completo:</label>
                <input type="text" placeholder="Juan Giménez">
                <label for="">Nombre de usuario:</label>
                <input type="text" placeholder="juang1000">
                <label for="">Número de teléfono:</label>
                <input type="text" placeholder="12345678">
                <button>Guardar</button>
            </div>
        </div>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
