<%- include("partials/head") -%>
<%- include("partials/header") -%>
<body>
    <div class="account">
        <div class="my-account">
            <img src="images/blank_user.png" style="margin-bottom:1em;opacity:80%;" alt=""><!-- <=% usuario.imagen propiedad imagen??? \%> -->
            <h2>Juan Giménez</h2><!-- <=% usuario.nombre \%> -->
            <div class="my-account-links">
                <a href="#" class="orange-href" style="text-decoration:none;margin-top:0.5em;padding:1em 0;font-size:1.2rem;">Mi perfil</a>
                <a href="#" class="orange-href" style="text-decoration:none;padding:1em 0;font-size:1.2rem;">Mi carrito</a>
            </div>
        </div>
        <div class="info" style="margin-top:12.5em;">
            <h2>Mi cuenta personal</h2>
            <form action="" method="" class="account-edit">
                    <!-- en los placeholders de estos inputs debería ir <=% usuario.(propiedad) \%> (el \ está para que el ejs no lo tome como inclusión)-->
                    <label for="" style="color:#FB7821;font-weight:600;margin:0.5em 0;">Nombre completo:</label>
                    <input type="text" placeholder="Juan Giménez" style="margin:0.5em 0;"> 
                    <!-- los inputs tienen que estar disabled por defecto, para después habilitarse mediante un botón de edición posicionado al final de cada input -->
                    <label for="" style="color:#FB7821;font-weight:600;margin:0.5em 0;">Nombre de usuario:</label>
                    <input type="text" placeholder="juang1000" style="margin:0.5em 0;">

                    <label for="" style="color:#FB7821;font-weight:600;margin:0.5em 0;">Número de teléfono:</label>
                    <input type="text" placeholder="12345678" style="margin:0.5em 0;">

                    <button class="add-to-cart-btn save-btn">Guardar</button>
            </form>
        </div>
    </div>
<%- include("partials/footer") -%>
