<%- include("partials/head") -%>

<%- include("partials/header") -%>

<section class="d-block"  style="margin-top: 180px;">
    <div>
        <img src="./images/publcidad-celenste.JPG" style="width: 100%;" alt="">
    </div>
    <div class="d-flex">
        <img src="./images/publicidad-rosa.JPG" style="width: 50%;" alt="">
        <img src="./images/publicidad-azul.JPG" style="width: 50%;" alt="">
    </div>
</section>

<%- include("partials/productosofertas") -%>

<%- include("partials/footer") -%>