<%- include("partials/head") -%>
<body>
    <div class="signInContainer">
        <img src="./images/pad.jpg" alt="">
        <div class="signForm">
            <form action="">
                <div class="formTitleIn">
                    <h1>¡Bienvenido!</h1>
                    <h2>Inicia sesión para disfrutar de los beneficios de MOWARDIN.</h2>
                </div>
                <input type="text" name="name" placeholder="Nombre de usuario">
                <div class="name error"></div>
                <input type="password" name="password" placeholder="Contraseña">
                <div class="password error"></div>
                <a class="sign-btn" style="text-decoration:none;cursor:pointer;" href="home">Iniciar sesión</a>
            </form>
            <p>¿No tienes una cuenta? <a href="signup" class="orange-href" style="text-decoration:none;font-weight:600;">Crea una nueva</a></p>
        </div>
    </div>

</body>
</html>