<%- include("partials/head") -%>
<body>
    <div class="signUpContainer">
        <img class="SignImg" src="./images/pad.jpg" alt="">
        <div class="signForm">
            <form>
                <a href=""><img class="signLogo" src="/images/logo.png" alt=""></a>
                <div style="margin-top:1em; padding-bottom:1em;">
                    <h1>Crea una cuenta nueva</h1>
                    <h4 style="color:gray;">¡Comienza a ordenar productos en un sitio web de proveedores!</h4>
                </div>
                <input type="text" name="email" id="" placeholder="E-mail">
                <input type="text" name="name" placeholder="Nombre completo">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="password" name="password" placeholder="Contraseña">
                <input type="text" name="phone" placeholder="Número de teléfono">
                <input type="text" name="region" placeholder="Región">
                <button class="sign-btn" type="submit">Crear una cuenta nueva</button>
            </form>
            <p>¿Ya tienes una cuenta? <a href="/signin" class="orange-href" style="text-decoration:none;font-weight:600;">Inicia sesión</a></p>
        </div>
    </div>
<script src="/signup.js"></script>
</body>
</html>