<%- include ("partials/head") -%>
<h1>Te deslogueaste, </h1>
<% if (username){ %>
    <%= username %>
<% } else { %>
    <h1>Usuario</p>
<% } %>
<a href="signin"><button>Log</button></a>
<a href="home"><button>Home</button></a>