<%- include("partials/head") -%>
<body>
    <div class="signInContainer">
        <img class="signinImg" src="./images/pad.jpg" alt="">
        <div class="signForm">
            <a href=""><img class="signLogo" src="/images/logo.png" alt=""></a>
            <form action="/signin" method="post">
                <div style="padding:4em 0 2em 0;">
                    <% if(username){ %>
                        <h1>¡Bienvenido <span><%=username %></span>!</h1>
                    <% } else { %>
                        <h1>¡Bienvenido!</h1>
                    <% } %>
                    <h4>Inicia sesión para disfrutar de los beneficios de MOWARDIN.</h4>
                </div>
                <input type="text" name="username" placeholder="Nombre de usuario">
                <div class="name error"></div>
                <input type="password" name="password" placeholder="Contraseña">
                <div class="password error"></div>
                <button class="sign-btn" style="text-decoration:none;cursor:pointer;" type="submit" id="btn">Iniciar sesión</button>
            </form>
            <% if(msj_login==false){ %>
                <p style="font-size:1.3rem;font-weight:600;color:rgb(255, 51, 51);" id="error"></p>
            <% }else{ %>
                <p style="font-size:1.3rem;font-weight:600;color:rgb(255, 51, 51);"><%=errorText%></p>
            <% } %>
            <p>¿No tienes una cuenta? <a href="/signup" class="orange-href" style="text-decoration:none;font-weight:600;">Crea una nueva</a></p>
        </div>
    </div>

<script src="/msj_log.js"></script>
</body>
</html>