/* -----------------------------header contactenos--------------------- */
.headercontactenos{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 11rem;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../images/imgcontactanos.jpg);
    background-position: center;
    background-size: cover;
}
.textoconectate{
    padding-top:1.5rem;
    padding-right: 1.5rem;
    padding-bottom: .5rem;
    color: white;
}
/* --------------------- seccion contactenos en nuestro sitio web ----------------------------- */
.contactositioweb .titulocontactossitioweb{
    text-align: center;
    padding-bottom: 1rem;
}
.contactositioweb .ubicacioneinfo{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.ubicacioneinfo .infocontacto{
    background-color: #EEEFEF;
    width: 50%;
    padding: 1.5rem; 
}
.infocontacto .tituloinfocontacto{
    padding-bottom: .7rem;
}
.infocontacto .textoinfocontacto{
    line-height: 1.5rem;
}
.infocontacto .contenedorinfocontacto{
    display: flex;
    padding-top: 1.3rem;
}
.contenedorinfocontacto .titulotel{
    padding-right: 1.5rem;
}
.contenedorinfocontacto .tituloemail{
    padding-right: 2.6rem;
}
.contenedorinfocontacto .titulodire{
    padding-right: 1rem;
}
.ubicacioneinfo .mapaubicacion{
    width: 50%;
}
.mapaubicacion iframe{		
    width: 100%;		
    height: 100%;		
}

/* ------------------------------- seccion contactanos --------------------------- */
.contactame{
    width: 90%;
    margin: 0 auto;
}
.contactame .titulocontacto{
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}
.contactame .formcontacto{
    display: flex;
    flex-direction: column;
}
.formcontacto .inputscontacto{
    background-color: #FAFAFB;
    border: gray 1px solid;
    padding: .6rem;
    margin-bottom: .7rem;
    margin-top: .2rem;
    border-radius: .3rem;
    
}
.formcontacto .inputmensaje{
    padding-bottom: 6rem;
}
.contactame .contenedorbtn{
    text-align: center;
}
.contenedorbtn .btncontacto{
    background-color: #001154;
    color: white;
    margin-top: 1.5rem;
    padding: .5rem 9rem;
    border: 1px solid #001154;
    border-radius: .2rem;
    cursor: pointer;
    margin-bottom: 5rem;
}

/* -----------------------------seccion carrito----------------------------------- */
.modal{
    --bs-modal-width: 56%;
}
.containercarrito{
    box-shadow: 0 0 5px gray;
    border-radius: 5px;
    padding-top: .5rem;
}

.carrito .tituloinfopago{
    display: flex;
    justify-content: flex-end;
    margin-right: -1rem;
}
.carrito .infopago{
    border: 1px solid #F6F6F6;
    width: 100%;
    box-shadow: 0 0 5px gray;
    border-radius: 5px;
    margin: 1rem;
    margin-top: .5rem;
}
.infopago .subtituloinfopago{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem 0rem 1rem;
}
.infopago .containercodedescuento{
    display: flex;
    justify-content: space-between;
    width: 91%;
    margin:0 auto;
}
.containercodedescuento .btnconfirmarcodedescuento{
    color: #FB6705;
    background-color: #FFF0E6;
    border: 1px solid #FFF0E6;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
}
.containercodedescuento .inputcodedescuento{
    padding:.5rem;
    width: 55%;
    border: 1px #F6F6F6 solid;
    border-radius: 5px;
}
.infopago .lineaproductosuno{
    width: 80%;
    margin: 1rem 10%;
    border: 1px solid rgb(168, 167, 167);
}
.infopago .containergastos{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}
.infopago #promocion{
    display: none;
    justify-content: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}
.infopago .precioproductos{
    margin-bottom: .5rem;
}
.infopago .containerconfirmarpago{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    border: 1px solid #F6F6F6;
    padding: .5rem .5rem 0 .5rem;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}
.containerconfirmarpago .iconcheck{
    cursor: pointer;
    color: #001154;
}
.infopago .btnconfirmarpedido{
    color: white;
    background-color: #FB6705;
    border: 1px solid #FB6705;
    border-radius: 5px;
    padding: .5rem 3.8rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    margin-top: .5rem;
    cursor: pointer;
    width:90%;
}

/* --------------------componente producto carrito--------------------- */
.productoscarrito{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-productos-carrito .btn-close-tablet{		
    display: none;		
    }
.productoscarrito .eliminarproductos{
    color: red;
    cursor: pointer;
    font-weight:bold;
    margin-top: 2.5rem;
    margin-left:1rem;
}
.productoscarrito .containernumerodepedidos{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 2rem;
}
.containernumerodepedidos .numerodepedidos{
    color: #FB6705;
    margin-top: .4rem;
}
.containerproductoscarrito{
    box-shadow: 0 0 5px gray;
    border-radius: 5px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.containerproductoscarrito .containerproductocarrito{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    padding-left: 1.5rem;
}
.containerproductocarrito .iconeliminarproducto{
    color: #FF0000;
    cursor: pointer;
}
.containerproductocarrito .nombreproducto{
    display: flex;
    justify-content: flex-end;
}
.containerproductocarrito .containercantproducto{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    /*padding: .5rem 0;*/
}
.containercantproducto .btnmenosproductos{
    background-color: white;
    border: 1px solid #001154;
    padding: 0 .5rem;
    border-radius: 5px;
    cursor: pointer;
    margin-right: .5rem;
    margin-left: 10rem;
}
.containercantproducto .btnmasproductos{
    color: white;
    background-color: #001154;
    border: 1px solid #001154;
    padding: 0 .4rem;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 6rem;
    margin-left: .5rem;
}
.containerproductocarrito .infoproducto{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.infoproducto .preciodesc{
    display: flex;
    gap: .5rem;
}
.preciodesc .precioporcantproducto{
    text-decoration: line-through;
    color: #727373;
}
.preciodesc .preciocondesc{
    color: #FB6705;
}
.containerproductocarrito .imgproducto{
    margin-left: 1rem;
    width: 100%;
    height: 150px;
    background-color: #F6F6F6;
}
.preciosindesc{
    padding-left: 3rem;
    color: #FB6705;
}
.lineaproductosdos{
    width: 88%;
    margin-left: 3rem;
    border: 1px solid #F6F6F6;
}

.eliminarproductos:hover{
    text-decoration:underline;
}

@media (max-width: 590px){

    .headercontactenos{
        margin-top: 6rem;
        height: 3rem;
    }
    .headercontactenos .textoconectate{
        padding-top:1rem;
        padding-right: 1rem;
        font-size: .8rem;
    }
    .contactositioweb .titulocontactossitioweb{
        font-size: 1.2rem;
    }
    .tituloinfocontacto{
        font-size: 1rem;
    }
    .infocontacto p{
        font-size: .8rem;
    }
    .ubicacioneinfo .mapaubicacion{
        width: 100%;
    }
    .mapaubicacion iframe{
        width: 100%;
        height: 200px;
    }
    .titulocontacto{
        font-size: 1.2rem;
    }
    .formcontacto input{
        font-size: 1rem;
    }
    .contenedorbtn .btncontacto{
        font-size: 1rem;
        padding: .5rem 4.5rem;
    }
}

@media screen and (max-width:767px){
    .containercarrito{
        display:flex;
        flex-direction:column-reverse;
    }
    .carrito{
        width:100%;
        margin:0;
    }
    .container-productos-carrito .btn-close-tablet{
        display: block;
        margin: .5rem 0 .5rem -1.5rem;
    }
    .productoscarrito .eliminarproductos{
        margin-top: 2.3rem;
        margin-left:0;
    }
    .containernumerodepedidos h4{
        font-size:1rem;
        font-weight:bold;
    }
    .container-productos-carrito{
        width: 90%;
    }
    .containerproductocarrito{
        flex-wrap:wrap;
    }
    .containerproductocarrito .imgproducto{
        width:60%;
        justify-content:center;
    }
    .nombreproducto{
        font-size:0.9rem;
        font-weight:bold;
    }
    .containerproductocarrito .iconeliminarproducto{
        margin-left: 10rem;
    }
}

@media screen and (min-width:768px) and (max-width: 1023px){

    /* -------------------carrito------------------ */
    .modal{
        --bs-modal-width:80%;
    }
    .containercarrito{
        display: flex;
        flex-direction: column-reverse;
    }
    .carrito{
        width: 90%;
        margin: 0;
    }
    
    .carrito .infopago{
        margin: 0;
    }
    
    .container-productos-carrito{
        width: 90%;
    }
    .infoproducto{
        margin-left: 6rem;
    }
    .infopago .btnconfirmarpedido{
        width: 94%;
    }
    
    .carrito .tituloinfopago{
        margin-right: 0;
        margin-top: 1.5rem;
    }
    .carrito .btn-close-pc{
        display: none;
    }
    .container-productos-carrito .btn-close-tablet{
        display: block;
        margin: .5rem 0 .5rem -1.5rem;
    }
    
    .productoscarrito .eliminarproductos{
        margin-top: 0;
    }
    .productoscarrito .containernumerodepedidos{
        margin-top: 0;
    }
    .containerproductocarrito .iconeliminarproducto{
        margin-left: 6rem;
    }
    
    /* -------------------contacto----------------- */
    .ubicacioneinfo{
        flex-direction: column;
    }
    .ubicacioneinfo .infocontacto{
        width: 100%;
    }
    .ubicacioneinfo .mapaubicacion{
        width: 100%;
        height: 400px;
    }
    .headercontactenos{
        margin-top: 6rem;
    }
    
    
    }
    
@media screen and (min-width:1024px) and (max-width: 1440px){
    
    /* ---------------------carrito------------------- */
    .modal{
        --bs-modal-width:75%;
    }
    .containercarrito{
        padding-top: 0;
    }
    .carrito{
        width: 60%;
        margin: 0;
    }
    .carrito .tituloinfopago{
        margin-right: 0;
    }
    .carrito .infopago{
        margin: 0;
    }
    .infopago .btnconfirmarpedido{
        width: 88%;
        padding: .5rem 0;
    }
    .containercodedescuento .btnconfirmarcodedescuento{
        width: 40%;
    }
    .containercodedescuento .inputcodedescuento{
        width: 55%;
    }
    .container-productos-carrito{
        width: 65%;
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .infoproducto{
        margin-left: 6.5rem;
    }
    .containerproductocarrito .iconeliminarproducto{
        font-size:1.2rem;
        margin-left: 6rem;
    }
}

/* -------------media queries(+1920)----------- */
@media screen and (min-width:1920px){

    /* ---------------------carrito------------------- */
    .modal-container-carrito{
        width: 80%;
    }
    .containercarrito{
        padding-top: 0;
    }
    .carrito{
        width: 40%;
        margin: 0;
    }
    .carrito .tituloinfopago{
        margin-right: 0;
    }
    .carrito .infopago{
        margin: 0;
    }
    .infopago .btnconfirmarpedido{ 
        width: 93%;
        padding: .5rem 0;
    }
    .infopago .containercodedescuento{
        width: 94%;
        margin: 0 auto;
    }
    .containercodedescuento .btnconfirmarcodedescuento{
        width: 40%;
    }
    .containercodedescuento .inputcodedescuento{
        width: 55%;
    }
    .container-productos-carrito{
        width: 65%;
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .containerproductocarrito .iconeliminarproducto{
        margin-left: 6rem;
    }
    .infoproducto{
        margin-left: 6rem;
    }
    
}