@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Tajawal', sans-serif;;
}

.container-select{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 1.5rem;
    align-items: center;
}

select{
    padding: .2rem 4rem .2rem .2rem;
    background-color: #EFEFEF;
    margin-right: .5rem;
    border: 1px solid #EFEFEF;
}

.pedidos{
    margin: 0 auto;
    width: 75%;
    /* display: none; */
}

.container-detalles-pedidos{
    display: flex;
    background-color: #F8F8F9;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    border: 1px solid #E4E5E5;
    border-radius: 10px;
}

.detalles-del-pedido{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.btn-ver-detalles{
    background-color: #50B8F1;
    color: white;
    border: 1px solid #50B8F1;
    border-radius: 5px;
    padding: 0 1rem;
    cursor: pointer;
}
.estado-pedido-confirmado{
    color: #01BA2C;
}
.estado-pedido-rechazado{
    color: #F3C402;
    padding: 0 .2rem;
}
.estado-pedido-enviado{
    color: #253C8F;
    padding: 0 .7rem;
}
.estado-pedido-proceso{
    color: #01BA2C;
}
/* ---------------------------estilos detalles del pedido----------------------------------------- */
.muestra-detalles-del-pedido{
    margin: 0 auto;
    width: 87%;
    padding-top: 1rem;
}
.container-muestra-detalles-pedidos{
    padding: 1rem 5rem;
}

.resumen-pedido{
    width: 30%;
    box-shadow: 0 0 5px gray;
    border-radius: 5px;
    padding-top: 1rem;
    margin-top: 5rem;
}
.titulo-resumen{
    border: 1px solid #FFF0E6;
    background-color: #FFF0E6;
    text-align: center;
    margin: 0rem 1rem 3rem 1rem;
    padding: .1rem 0;
    border-radius: 5px;
}

.container-resumen-detalles{
    display: flex;

}
.container-detalles-productos-pedidos{
    margin-left: 1rem;
    padding-top: 2rem;
}
.container-productos-detalles{
    width: 60vw;
    /* margin-left: 1rem; */
}
.container-btn-detalles{
    display: flex;
    padding-bottom: .5rem;
    align-items: center;
    justify-content: space-between;
}
.btn-eliminar-detalles{
    background-color: red;
    border: 1px solid red;
    border-radius: 10px; 
    color: white;
    padding: .3rem 1rem;
}
.imgproducto-detalles{
    height: 80px;
    width: 90px;
    background-color: #F6F6F6;
    margin-left: 1rem;
}
.container-info-producto{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container-precio-total{
    padding-right: 21rem;
}
.linea-productos-detalles{
    width: 85%;
    margin-left: 6rem;
    border: 1px solid #F6F6F6;
}
.container-sections{
    width: 100vw;
    /* height: 100vh; */
    background-color: #FDFDFF;

}