*{
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, sans-serif;
}

:root{
    --main:#FB7821;
    --bord:#001254;
    --graytext:#737373;
}

/* Etiquetas */

header{
    width:100%;
    background-color:white;
    display:flex;
    flex-direction:column;
    position: fixed;
    top: 0;
    z-index: 15;
    box-shadow: 0 0 10px gray;
}

main{
    margin-top: 155px;
}

footer{
    background-image: url("../images/fotofooter.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    color: white;
    padding-top: 5rem;
    padding-bottom: 0.1rem;
    margin-top: 5rem;
}

input{
    padding:0.5em 0 0.5em 0.5em;
    font-size:1.1rem;
    border:2px solid lightgray;
    border-radius:0.2rem;
}

button{
    cursor:pointer;
}

/* Elementos en clases - Header y menú */

nav a{
    text-decoration:none;
}

.menu nav{
    display:flex;
    flex-direction:row;
}

.menu nav a{
    color:var(--graytext);
    margin:0 1em;
}

.product-nav a{
    color:var(--graytext);
    margin:0 1.2em;
}

.nav li, .products li{
    margin:0 0.5em;
}

.menu input{
    width:45em;
    margin:0 0 0 .4em;
    border:none;
    outline:none;
    background-color:#F9F9FA;
}

.container-input-buscador{
    position:relative;
    border: 1px solid gray;
    background-color: #F9F9FA;
    margin: 0 1rem;
}

.container-input-buscador button{
    border: none;
    background-color: #F9F9FA;
}

.icons img, .icons svg{
    width:26px;
    height:26px;
    transition: transform 0.5s;
}

.icons svg{
    padding:0 0.3em;
}

.products .btn-all-products, .offer-header button{
    padding:0.8em 1.5em;
    background-color:var(--bord);
    color:white;
    font-weight:400;
    border:2px solid var(--bord);
    border-radius:2.5rem;
    transition: background-color 0.5s,
                border 0.5s;
}

.orange-href, .offer-header span{
    color:var(--main);
}

.offer-header span, .offer-header p{
    font-size:1.2rem;
    font-weight:600;
}

/* Elementos en clases - Productos */

.product-data h2{
    font-size:2.5rem;
    font-weight:400;
    margin-bottom:0.5em;
}

.product-data h2 span{
    padding:0.1em 0.2em;
    font-size:1.5rem;
    background-color:#FEE1CD;
    color:var(--main);
    border-radius:0.5rem;
}

.product-data h3{
    font-size:1.5rem;
    font-weight:500;
    margin-bottom:0.5em;
}

.product-data h4{
    width:60%;
    font-size:1.2rem;
    font-weight:400;
    color:var(--graytext);
    margin-bottom:2em;
}

.product-data hr{
    border:1px solid #E6E6E6;
}

.total-product{
    font-weight:600;
    font-size:1.5rem;
    margin:0;
}

.total-product span{
    font-size:1.8rem;
    margin-left:1em;
    color:var(--bord);
}

.product-price p{
    float:right;
    font-size:3rem;
    margin: 0 .5em 0 0;
}

.price{
    display:flex;
    align-items:center;
}

.price span{
    margin-right:0.5em;
    color:var(--graytext);
    font-size:0.8em;
    text-decoration:line-through;
}

.others img{
    width:12em;
    margin-bottom:0.3em;
}

.others h3{
    font-size:1.5rem;
}

.other-card p{
    margin-bottom:0.3em;
}

.container-info-img img{
    width: 30em;
}

/* Elementos en clases - SignUp / SignIn */

.signUpContainer img, .signInContainer img{
    width:35em;
    border-top-left-radius:0.5rem;
    border-bottom-left-radius:0.5rem;
}

.signUpContainer form, .signInContainer form{
    display:flex;
    flex-direction:column;
}

.signUpContainer input, .signInContainer input{
    margin:1em 0;
}

/* Elementos en clases - Footer */

footer .columnas{
    display: flex;
    justify-content: space-evenly;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a{
    text-decoration: none;
    color: white;
}

footer .columna1{
    width: 16rem;
    text-align: right;
}

footer .columna2{
    width: 14rem;
    text-align: right;
}

footer .columna3{
    width: 23rem;
    text-align: right;
}

footer h5{
    margin-bottom: 1.5rem;
}

footer li{
    margin-bottom: 0.5rem;
}

footer .icono-naranja{
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.5rem;
}

footer .iconos-redes{
    display: flex;
    margin-left: 7rem;
    justify-content: space-between;
    margin-top: 2rem;
}

footer .iconos-redes li{
    background-color: #73737346;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
}

footer .iconos-redes li:hover{
    background-color: #acacac46;
}
footer .iconos-redes a{
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .iconos-redes img{
    height: 1.8rem;
}

footer .market{
    display: flex;
    justify-content: space-between;
    margin-left: 13rem;
}

footer .market img{
    height: 4rem;
    width: 4rem;
}

footer .copy{
    text-align: center;
    margin-top: 3rem;
}

footer .copyright{
    margin-bottom:0;
    padding-bottom:1rem;
}

footer .copy div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

footer .copy .linea{
    width: 60rem;
    height: 0.3rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.053), rgba(255, 255, 255, 0));
}

/* Pseudoclases */

a:hover{
    text-decoration:underline;
}

.search-btn:hover{
    transform:scale(1.1);
}

.icons svg:hover, .icons img:hover{
    transform:scale(1.1)
}

.icon:hover{
    border: 2px solid black;
}

.products .btn-all-products:hover, .offer-header button:hover{
    background-color:#2744ac;
    border:2px solid #2744ac;
}

.product:hover{
    transform:scale(1.06);
}

.buy-btn:hover{
    border: 1px solid var(--main);
    color: var(--main);
    background-color: initial;
}

.orange-href:hover{
    color:black;
}

.orange-bg:hover{
    background-color:#FDBE94;
}

.sign-btn:hover, .add-to-cart-btn:hover{
    background-color:white;
    color:var(--main);
}

.other-add-to-cart-btn:hover{
    background-color:var(--main);
    color:white;
}

.counter-button:hover{
    background-color:var(--bord);
    border:1px solid var(--bord);
    color:white;
}

.disabled-counter-button:hover{
    background-color:var(--graytext);
    border: 1px solid var(--graytext);
    color:white;
}

.edit-btn:hover{
    text-shadow:1px 1px 1px rgb(124, 124, 124);
}

/* Clases */

.logo{
    width:6em;
    margin-right: 1rem;
}

.menu{
    width:90%;
    margin:0 auto;
    padding:1em 0 1.5em 0;
    display:flex;
    align-items:center;
    justify-content:center;
}

.search-btn{
    background:transparent;
    border:none;
    font-size:1.2rem;
    color:#999999;
    position:absolute;
    top:0.3em;
    right:0.8em;
    transition: transform 0.5s;
}

.icon-container{
    display:flex;
    margin-left: 1.5em;
}

.icon{
    padding:0.5em;
    border: 2px solid rgb(199, 199, 199);
    border-radius:100%;
    transition: border 0.5s;
}

.username{
    font-size:0.7rem;
    position:absolute;
}

.products{
    padding-bottom:1em;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

.products-header{		
    margin-left: 4rem;		
    display: flex;				
    flex-direction: row;		
    flex-wrap: nowrap;		
    overflow: auto;		
    width: 95%;		
    overflow: hidden;		
}	

.products .btn-all-products{		
    margin-right: 1em;		
}

.offer-header{
    margin-top:4em;
    margin-bottom:0.5em;
    display:flex;
    align-items:center;
    justify-content:space-around;
}	
		
.orange-href{
    text-decoration:none;
    transition: color 0.5s;
}

.buy-btn{ 
    width:7.2rem;
    margin-top:0.2em;
    color:var(--main);
    border:1px solid var(--main);
    border-radius: 15px;
    padding: .1rem 0;
    font-size:1.2rem;
    justify-content: center;
}

.btn-previous-next{
    width:3.5rem;
    height:4rem;
}

/* Bootstrap Icons */

.bi-x-lg button{
    border:none;
    background-color:transparent;
    cursor:pointer;
}

/* Clases - Productos */

.product{
    margin-top: 0.5em;
    transition: 0.4s;
}

.product, .product-image{
    position:relative;
    margin-bottom:2em;
}

.img-producto-oferta{
    width: auto;
    height: 400px;
}

.title-productos-similares{
    margin: 0;
    padding-top: 3rem;
    text-align: center;
}

.discount{
    padding:0.5em;
    background-color:red;
    color:white;
    border-radius:0.5rem;
    font-size:0.9rem;
    position:absolute;
    top:0.8em;
    left:9.5em;
}

.discount2-pageofertas{
    padding:0.5em;
    background-color:red;
    color:white;
    border-radius:0.5rem;
    font-size:0.9rem;
    position:absolute;
    top:0;
    right:0.5em;
}

.price{
    color:#001254;
    font-size:1.3rem;
    font-weight:600;
}

.product-img{
    padding-top:1em;
    width: 100%;
    height: 15rem;
}

.product-header{
    flex-direction:row;
    padding: 1.5em 2em;
    margin-bottom:2em;
    display:flex;
    justify-content:space-between;
    box-shadow:0 1px 4px rgb(90, 90, 90);
}

.goBack{
    display:flex;
    color:var(--graytext);
}

.product-card{
    width: 88%;
    margin:7rem auto 0 auto;
    display:flex;
    justify-content:space-evenly;
    margin-top: 7rem;
}

.product-cart{
    margin:1.5em 2em;
    display:flex;
    justify-content:space-between;
}

.product-counter{
    display:flex;
    align-items:center;
    margin-bottom:0.5em;
    font-size:1.5rem;
}

.dos-cajas{
    margin: 0;
}

.product-card-discount{
    position:absolute;
    right:0;
}

.counter-button, .disabled-counter-button{
    background-color:transparent;
    border:1px solid #999999;
    border-radius:0.5rem;
    padding:0 0.5em;
    margin:0 1rem;
    font-size:1.5rem;
    transition: background-color 0.5s,
                border 0.5s,
                color 0.5s;
}

.add-to-cart-btn{
    /*margin-top:1em;*/
    padding:0.3em 1.1em;
    background-color:var(--main);
    color:white;
    border:2px solid var(--main);
    border-radius:1.5rem;
    font-size:1.05rem;
    transition: background-color 0.5s,
                color 0.5s;
}

.other-add-to-cart-btn, .buy-btn{
    font-size:1rem;
    background-color:white;
    color:var(--main);
    transition: background-color 0.5s,
    color 0.5s;
}

.product-btn-font{
    font-size:1.5rem;
}

.others{
    text-align:center;
    width:88%;
    margin:0 auto;
}

.title-ofertas-hoy{
    margin-top:2em;
    margin-right:7em;
    font-weight:bold;
    text-align:end;
}

.contendorproductos{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-between;
    flex-wrap:wrap;
}

.other-cards{
    width:90%;
    margin:2em auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.other-card{
    margin:0 4em 4em 4em;
}

.other-card-flex{
    margin-top:1em;
    display:flex;
}

.other-title{
    font-size:1.1rem;
    font-weight:600;
    width:70%;
    margin:0 auto;
}

.precioproducto{
    color:gray;
    width:85%;
    margin: 0 auto;
}

.counterNumber{
    margin: 0.5em 0;
    font-weight: 600;
}

.page-button{
    font-size:1.3rem;
    margin-bottom:1em;
    display:flex;
    justify-content:center;
}

/* SignUp - SignIn */

.signUpContainer{
    width:75%;
    margin:4em auto;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:0.5rem;
    box-shadow:2px 2px 12px lightgray;
}

.signInContainer{
    width:75%;
    margin:4em auto;
    display:flex;
    justify-content:center;
    border-radius:0.5rem;
    box-shadow:2px 2px 12px lightgray;
}

.signForm{
    width:80%;
    margin:0 4em;
    text-align:center;
    display:flex;
    flex-direction:column;
}

/*.formTitle{
    margin-top:1em;
    padding-bottom:1.5em;
}

.formTitleIn{
    padding-top:4em;
}*/

.sign-btn{
    margin:1em 0;
    padding:0.5em 1.2em;
    background-color:var(--main);
    color:white;
    font-size:1.2rem;
    font-weight:600;
    border:2px solid var(--main);
    border-radius:0.5rem;
    transition: background-color 0.5s,
                color 0.5s;
}

/* Mi cuenta / Edición de cuenta */

/* .account{
    margin:0 auto;
    display:flex;
} */

.my-account{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    margin-right: 5rem;
    margin-top: 11rem;
    padding-bottom: 20rem;
    margin-bottom: 10rem;
    box-shadow:0 1px 5px #999999;
}

.my-account-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-account-links{
    display:flex;
    flex-direction:column;
}

.my-account-links .link-perfil{
    text-decoration: none;
    background-color: #FFF0E6;
    margin-top:0.5em;
    padding:.8em 2em;
    font-size:1.2rem;
}

.my-account-links .link-micarrito{
    text-decoration: none;
    padding:.8em 2em;
    font-size:1.2rem;
}

.info{
    margin-top:14em;
    margin-left:2em;
}

.account-edit{
    margin-top:2em;
    width:30vw;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    position:relative;
}

.edit-btn{
    position:absolute;
    font-size:1.5rem;
    border:none;
    background-color:transparent;
    transition: text-shadow 0.5s;
}

.save-profile-btn{
    border-radius:1rem;
    margin-top:2rem;
    font-size:1.3rem;
}

/* Slide publicidad*/

.opacity-75{
    font-size: 1.5rem; 
     width: 20rem;
     color:black;
}
.opacity-755{
    font-size: 1.5rem; 
     color:black;
}

/* page informacion */

.container-info{
    width: 90%;
    margin: 200px auto 0 auto;
}
.container-info-img{
    margin: 3em 0;
}

/* page ofertas */

.container-publi-ofertas{
    width:88%;
    margin:180px auto 0 auto;
}

/* Responsive */

.menu-burguer{
    display: none;
}

.menu-burguer img{
    height: 3em;
}

.imageSlide1{
    height: 19rem;
    transform: translateX(990px) translateY(20px);
}

.imageSlide3{
    height: 19rem;
    transform: translateX(990px) translateY(20px);
}
.signLogo{
    display: none;
}
.informacion0{
    margin: 2rem auto;
    padding: 0;
}
.informacion1{
    margin: 5em auto;
}
.informacion2{
    margin: 5em 0;
    padding: auto;
}

@media screen and (min-width:1920px){
    .product-card{
        justify-content: space-between;
    }
    .product-data{
        width: 60%;
    }   
}

@media screen and (min-width:1024px) and (max-width:1440px){
    .menu input{
        width:30em;
    }
    .product-nav a{
        margin: 0 0.5em;
        font-size:0.9rem;
        font-weight:bold;
    }
    .products .btn-all-products{
        padding:0.5em 1.2em;
        font-size:0.8rem;
    }
    .product-btn-font{
        font-size:1.25rem;
    }
}

@media screen and (min-width:768px) and (max-width: 1023px){
    /* ------------------signup---------------- */
    .signUpContainer, .signInContainer{
        height: 87vh;
    }
    
    .signUpContainer .SignImg, .signInContainer .SignImg{
        display: none;
    }

    .signInContainer .signLogo, .signUpContainer .signLogo{
        width: 10em;
        display: block;
        margin-top:2em;
        margin-left:9.2em;
    }
    
    .signForm{
        width: 90%;
    }
    
    .signForm .container-logo-tablet{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .signForm .logo-tablet{
        display: block;
        width: 40%;
    }
    
    .signInContainer .signForm .logo-tablet{
        margin-top: 5rem;
        margin-bottom: -2rem;
    }
    
    /* ----------------home----------------- */
    main{
        margin-top: 0;
    }
    .products .container-card-img{
        width: 50px;
    }
    .product-img{
        padding-top:1em;
        width: 30%;
    }
    
    /* -------------------productos------------------- */
    .nav-paginas-productos{
        display: none;
    }
    .contendorproductos{
        width: 33.3%;
    }
    .add-to-cart-btn{
        font-size:1rem;
    }
    
    /* ------------------header----------------- */
    header .menu-burguer{
        display: block;
    }
    .menu{
        width: 88%;
        padding:1em 0;
        margin: 0 auto;
        justify-content:space-between;
    }

    .menu nav{
        display: none;
    }
    .menu input{
        width: 26em;
    }
    .products-header{
        display: none;
    }
    .icon-container{
        display: none;
    }
    /* ----------------ofertas--------------- */
    .container-publi-ofertas{
        margin-top: 5rem;
    }
    .title-ofertas-hoy{
        margin-right:2.5em;
    }
    
    /* ----------------product--------------- */
    .product-card{
        margin-top: 4.7rem;
        flex-direction: column-reverse;
    }
    .product-data h3{
        font-size:1.3rem;
    }
    .product-btn-font{
        font-size:1.2rem;
    }
    .product-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-card-discount{
        top: 0;
        right:8em;
    }
    /* ---------------------informacion-------------------- */
    .container-info{
        margin-top: 6rem;
    }
    .container-info-img{
        flex-direction: column-reverse;
        margin: 0;
    }
    .container-info-img img{
        width: 100%;
        height: 270px;
    }
    .container-info-img .container-p-info{
        padding: 0;
    }
    .informacion0{
        margin: 1.5em 0;
        padding: 0;
    }
    
    /* -----------------mi perfil----------------- */
    .my-account{
        margin-top: 5rem;
    }
    .info{
        margin-top:12.5em;
    }
    
}

@media (max-width: 767px){
    .menu{
        padding:1em 0 1em 0;
        justify-content: space-between;
    }
    .menu nav a{
        display: none;
        margin:0em;
    }
    .logo{
        width:5.5em;
        margin:0 0.5em;
    }
    .menu input{
        width:23em;
        margin:0 0.5em;
        font-size: 1em;
        display: flex;
        justify-content: space-between;
    }
    .icon-container{
        display:none;
    }
    .search-btn{
        font-size:1.2rem;
        top:0.2em;
        right:0.6em;
        transition: transform 0.5s;
    }
    .menu-burguer{
        display:block;
        margin: 0;
    }
    .container-publi-ofertas{
        margin-top: 5rem;
        width: 100%;
    }
    .title-ofertas-hoy{
        margin-right:1.3em;
    }
    .products{
        display: none;
        padding-bottom: 0;
    }
    main{
        margin-top: 0px;
    }
    .none{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .none p{
        font-size: 1.5em;
    }
    .imageSlide1{
        height: 12rem;
        transform: translateX(200px) translateY(80px);
    }
    .imageSlide2{
        height: 12rem;
        transform: translateX(100px) translateY(80px);
    }
    .textSlide{
        text-align: start;
    }
    .imageSlide3{
        height: 14rem;
        transform: translateX(250px) translateY(80px);
    }
    .imagesvg{
        height: 30rem;
    }
    .offer-header{
        margin-bottom:2em;
        font-size: 2rem;
        display: flex;
        text-align: center;
    }
    .offer-header p{
        font-size: 2rem;
    }
    .contendorproductos{
        width: 50%;
    }
    .paginaNum{
        flex-wrap: wrap;
        margin: 1rem;
    }
    .paginaNum .page-item .page-link{
        font-size: 2rem;
        padding: 1rem;
    }
    footer .columnas{
        flex-wrap: wrap;
        column-gap: 8rem;
        justify-content: center;
        align-items: center;
    }
    footer .columna3{
        margin-top: 5rem;
    }
    footer{
        padding-bottom: 10rem;
    }
    footer .copy{
        margin-top: 2rem;
        margin-bottom: 0;
    }
    footer .copy .linea{
        width: 100%;
    }
    footer .iconos-redes{
        margin-top: 2rem;
        margin-left: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        transform: scale(1.5);
    }
    .signInContainer{
        width: 90%;
        border: none;
        border-radius:none;
        box-shadow:none;
    }
    .signInContainer .SignImg{
        display: none;
    }
    .signInContainer input{
        margin-top: 2rem;
    }
    .signInContainer .sign-btn{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .signInContainer .signLogo{
        width: 20em;
        display: flex;
        justify-content: center;
    }
    .signInContainer .signForm a{
        display: flex;
        justify-content: center;
    }
    .signUpContainer{
        width: 90%;
        border: none;
        border-radius:none;
        box-shadow:none;
    }
    .signUpContainer img{
        display: none;
    }
    .signUpContainer input{
        margin-top: 2rem;
    }
    .signUpContainer .sign-btn{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .signUpContainer .signLogo{
        width: 20em;
        display: flex;
        justify-content: center;
    }
    .signUpContainer .signForm a{
        display: flex;
        justify-content: center;
    }
    .contactositioweb .ubicacioneinfo{
        display: block;
        flex-wrap: wrap;
    }
    .contactositioweb .ubicacioneinfo .infocontacto{
        width: 100%;
    }
    .informacion0{
        margin: 0;
        display: block;
        flex-wrap: wrap;
        margin-top: 2rem;
        justify-content: center;
        text-align: justify;
    }
    .informacion1{
        margin: 0;
        display: block;
        flex-wrap: wrap;
        margin-top: 2rem;
        justify-content: center;
        text-align: center;
    }
    .informacion2{
        margin: 0;
        display: block;
        flex-wrap: wrap;
        padding: 0;
        margin-top: 2rem;
        justify-content: center;
        text-align: center;
    }
    .imgInformacion{
        width: 100%;
        height: 4rem;
    }
    .container-info{
        margin-top:6.5em;
    }
    
}

@media (max-width: 590px){
    .logo{
        width:5em;
        margin:0;
    }
    .menu input{
        width:100%;
        margin:0;
        font-size: 1em;
        display: flex;
        justify-content: space-between;
    }
    .menu-burguer{
        margin: 0;
    }
    .imageSlide1{
        height: 10rem;
        transform: translateX(50px) translateY(90px);
    }
    .imageSlide2{
        height: 9rem;
        transform: translateX(10px) translateY(80px);
    }
    .none p{
        font-size: 1em;
    }
    .container .textSlide .opacity-755{
        font-size: 1em;
    }
    .paginaNum .page-item .page-link{
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
    }
    .offer-header{
        margin-bottom:2em;
        font-size: 1rem;
        display: block;
    }
    .offer-header button{
        width: 100%;
        margin-bottom: 1rem;
    }
    .offer-header p{
        font-size: 1rem;
        display: flex;
        justify-content: center;
    }
    .offer-header a{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .contador-productos p{
        display: none;
    }
    .product-card{
        flex-direction:column;
    }
    .product-card h2{
        font-size:2rem;
    }
    .product-cart{
        flex-direction:column;
    }
    .dos-cajas{
        margin-top:1em;
    }
    .product-counter{
        display: none;
    }
    .img-producto-oferta{
        width:18em;
        height:18em;
    }
    .product-card-discount{
        right:2em;
    }
    .others form button{
        font-size: .8rem;
    }
    .others p{
        font-size: .8rem;
    }
    .others img{
        width:6em;
    }
    .discount2-pageofertas{
        right:2.1em;
    }
    .contendorproductos{
        width: 50%;
    }
    .my-account{
        width:45%;
        margin-right:0;
    }
    .my-account-perfil img{
        width:3em;
    }
    .my-account-perfil h2{
        font-size:0.8rem;
        font-weight:bold;
        margin-left:0.1em;
    }
    .my-account-links .link-perfil, .my-account-links .link-micarrito{
        font-size:0.8rem;
        padding-left:1em;
    }
    .info{
        margin-top:11em;
    }
    .info h2{
        font-size:1.1rem;
    }
    .account-edit label{
        font-size:0.8rem;
    }
    .account-edit input{
        padding:0.2em;
        font-size:0.8rem;
    }
    .edit-btn{
        font-size:1.05rem;
    }
    .save-profile-btn{
        margin-top:1rem;
        font-size:1rem;
    }
    .container-info{
        margin-top: 6rem;
        width: 95%;
    }
    .imgInformacion{
        height: 3rem;
    }
    .informacion0{
        font-size: 0.8rem;
        margin: 1.5em 0;
        padding: 0;
    }
    .container-info-img{
        flex-direction: column-reverse;
        margin: 0;
    }
    .container-info-img img{
        width: 100%;
        height: 210px;
    }
    .container-info-img .container-p-info p{
        font-size: .8rem;
    }
    footer .iconos-redes{
        margin-top: 2rem;
        margin-left: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        transform: scale(1);
    }
    .signInContainer input{
        margin-top: 1rem;
    }
    .signUpContainer{
        margin-top: 0;
        padding-bottom: 4rem;
    }
    .signUpContainer input{
        margin-top: 1rem;
    }
    .signUpContainer .sign-btn{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
